/* GameDetails.css */

.GameDetailsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .GameDetailsImage {
    max-width: 50%; /* Adjust as needed */
    margin-right: 20px; /* Add some spacing between image and details */
  }
  
  .GameDetailsDetails {
    max-width: 50%; /* Adjust as needed */
  }
  
  /* Add additional styling for text content as needed */
  